graft tools
graft doc
graft conf
graft etc
graft examples
graft gateway
graft init.d

include README
include RELEASE
include LICENSE.GPL
include setup.py
include feat.spec
include env

include src/feat/agencies/messaging/amqp0-8.xml
include src/feat/process/local.ini.template
include src/feat/test/data/*.pem
include src/feat/test/data/*.p12

include src/feat/extern/log/ChangeLog
include src/feat/extern/log/README

include sbin/feat-update-nagios

recursive-include src/feat *.py
exclude src/feat/configure/uninstalled.py

recursive-exclude doc *.pyc
recursive-exclude examples *.pyc
recursive-exclude tools *.pyc
