[couchdb]
database_dir = %(tempdir)s/lib
view_index_dir = %(tempdir)s/lib
uri_file = %(tempdir)s/lib/couch.uri

[httpd]
port = %(port)d
bind_address = 127.0.0.1

[log]
file = %(tempdir)s/log/couch.log
level = info


[query_servers]
; javascript = bindir/couchjs_dev datadir/server/main.js
python = %(couchpy)s
; for debuging couchpy add options below:
; --log-file=%(tempdir)s/log/couchpy.log --debug

