# ssl_server_req.ext

HOME		= .
RANDFILE 	= ./.rnd

##############################
##  Configuration Sections  ##
##############################

[ req ]
dir			= .
default_bits		= 1024
default_keyfile		= $dir/private/new_app_private_key.pem
default_days		= 1460
default_md		= sha1
distinguished_name	= req_distinguished_name
attributes		= req_attributes

[ req_distinguished_name ]
name				= First Name (eg, Michael)
name_max			= 24
surname				= Surname (eg, Palin)
surname_max			= 64
commonName			= Personal Name (Common Name)
commonName_max			= 64
emailAddress			= Email Address (max 64 characters)
emailAddress_max		= 64
0.organizationName		= Organization Name (eg, company)
0.organizationName_default	= %(company)s
1.organizationName		= Internet Company Web Site
1.organizationName_default	= %(projecturl)s
organizationalUnitName		= Organizational Unit Name (eg, section)
organizationalUnitName_default	= %(orgunitname)s
localityName			= Locality Name (eg, city)
localityName_default		= %(locality)s
countryName			= Country Name (2 letter code)
countryName_default		= %(country)s
countryName_min			= 2
countryName_max			= 2
stateOrProvinceName		= State or Province Name (full name)
stateOrProvinceName_default	= %(state)s
# SET-ex3			= SET extension number 3

# Challenge password section
[ req_attributes ]
challengePassword	= A challenge password (between 6 and 20 characters)
challengePassword_min	= 6
challengePassword_max	= 20

# End File
