/* General content */

body {
    margin: 0px;
    font-family: helvetica;
}

.content {
    margin: 30px;
}


.header {
    background: navy;
    color: red;
    padding: 10px;
}

h1 {
    margin: 10px;

}

/* List of items */

.items .name, .items .value, .items .label, .items .desc {
    min-width: 200px;
    display: inline-block;
}

.items .name {
    color: green;
}

.items .value {
    color: blue;
    }

/* Arrays */

.array th{
    background: #803030;
    padding: 6px;
}

.array table {
    border: 1px solid gray;
    border-collapse: collapse;
}

.array td {
    border: 1px solid gray;
    padding: 4px;
}

/* Forms */

.action_form label {
    min-width: 200px;
    display: inline-block;
}

.action_form .desc {
    color: orange;
    margin-left: 20px;
}
.action_form .optional {
    color: grey;
    margin-left: 20px;
    font-size: 0.8em;
}
