/* General content */

body {
    margin: 0px;
    font-family: helvetica;
}

.content {
    margin: 30px;
}


h1 {
    margin: 10px;

}

/* Error */

.error {
    color: red;
    font-size: 20px;
}

/* Header */

.header {
    background: navy;
    color: red;
    padding: 10px;
}

.header a,
.header a:visited {
    color: yellow;
    margin-left: 5px;
    margin-right: 5px;
}

.header a:hover {
    color: red;
}

/* List of items */

.items .name {
    display: inline-block;
    min-width: 150px;
}

.items .value,
.items .desc {
    display: inline-block;
    margin-right: 20px;
}

items .name {
    color: green;
}

.items .value {
    color: blue;
}


/* List of actions */

.actions .name,
.actions .desc {
    min-width: 200px;
    display: inline-block;
    margin-right: 20px;
}

actions .name {
    color: green;
}


/* Arrays */

.array {
    margin: 9px;
}

.array th{
    background: #803030;
    padding: 6px;
}

.array table {
    border: 1px solid gray;
    border-collapse: collapse;
}

.array td {
    border: 1px solid gray;
    padding: 4px;
}

/* Forms */

.action_form label {
    min-width: 200px;
    display: inline-block;
}

.action_form .desc {
    color: orange;
    margin-left: 20px;
}

.action_form .explanation {
    color: red;
    margin-left: 20px;
}

.action_form input.invalid {
    background: red;
}

.action_form .optional {
    color: grey;
    margin-left: 20px;
    font-size: 0.8em;
}


/* Inplaces */

span.inplace {
    cursor: pointer;
    color: green !important;
    min-width: 30px;
    min-height: 16px;
    display: inline-block;
}

.submit-cancel-container {
    float: right;
}

/* Resposne rendered in facebox */

.response span.key,
.response span.value{
    display: inline-block;
    margin-right: 10px;
}

.response span.key {
    min-width: 60px;
    color: orange;
}

/* Pagination of query collection */

div.pagination span,
div.pagination a {
    margin: 0 2px;
}
